
body {
  background-color: #ffd3b6;

}

hr {
  border-color: #fcf8f3;
  border-width: 20px;
  border-style: none;
  border-top-style: dotted;
  width: 12%;

}

h1 {
  color: #A0522D;
  font-size: 100px;


}

h2 {
  color: #A0522D;

}

h3 {
  color: #A0522D;
}

p {
  color: #eca1a6;
  font-size: 30px;
  font-variant: small-caps;
  font-style: italic;

}
